<div class="config_container">
  <section>
    <h1 class="config_title">Angular环境配置和脚手架构建</h1>
    <h2>1、环境配置</h2>
    <ul>
      <li>Node.js</li>
      <li>npm</li>
    </ul>
    <h2>2、脚手架构建</h2>
    <ul>
      <li><span class="code_text">npm install -g @angular/cli</span> (全局安装 Angular CLI)</li>
    </ul>
    <h2>3、命令创建项目</h2>
    <ul>
      <li> <span class="code_text">ng new my-app</span> (创建一个新的工作空间和初始入门应用)</li>
    </ul>
    <h2>4、运行应用</h2>
    <ul>
      <li> <span class="code_text">cd my-app</span></li>
      <li><span class="code_text">ng serve --open</span> (ng serve 命令会启动开发服务器、监视文件，并在这些文件发生更改时重建应用。--open（或者只用 -o 缩写）选项会自动打开你的浏览器)</li>
    </ul>
  </section>
</div>