<div class="config_container">
  <section>
    <h1 class="config_title">Angular环境配置和脚手架构建</h1>
    <h2>1、搭建环境</h2>
    <ul>
      <li>Node.js --- Angular 需要 Node.js 相对应的版本(详见Angular官方文档)</li>
      <li>npm 包管理器 --- Angular、Angular CLI 和 Angular 应用都依赖于 npm 包中提供的特性和功能。要想下载并安装 npm 包，你必须拥有一个 npm 包管理器。</li>
    </ul>
    <h2>2、脚手架构建</h2>
    <ul>
      <li>npm install -g @angular/cli --- 全局安装 Angular CLI</li>
      <li>npm install -g @angular/cli --- 全局安装 Angular CLI</li>
    </ul>
  </section>
</div>